In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('swat.csv')
#df.shape

df = df.iloc[:5*len(df.index)//8]
#df = df.iloc[:len(df.index)//2]
#df = df.iloc[:7500]
y = df["Normal/Attack"]
del df["Normal/Attack"]
df.tail(5)

,timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,FIT504,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603
281194,1451577994000000000,0.320917,190.4544,0,1,1,181.1395,8.549923,319.1489,1.024317,...,0.306569,2,1,249.5834,0.977157,188.0447,0.0,1,1,1
281195,1451577995000000000,0.570413,189.9048,0,1,1,181.1395,8.552807,318.8157,0.632685,...,0.306569,2,1,249.5834,0.977157,188.0447,0.0,1,1,1
281196,1451577996000000000,0.945136,190.0226,2,1,1,181.1395,8.552807,318.4568,0.373050,...,0.305224,2,1,249.5834,0.977157,188.0447,0.0,1,1,1
281197,1451577997000000000,1.337476,189.8263,2,1,1,181.1395,8.552807,317.9441,0.215295,...,0.305160,2,1,249.5834,0.977157,188.0447,0.0,1,1,1
281198,1451577998000000000,1.710598,190.0619,2,1,1,181.1395,8.552807,317.4058,0.125204,...,0.306889,2,1,249.5834,0.977157,188.0447,0.0,1,1,1

In [3]:
feature_names = np.array(df.columns, dtype=str)
feature_names

array(['timestamp', 'FIT101', 'LIT101', ' MV101', 'P101', 'P102',
       ' AIT201', 'AIT202', 'AIT203', 'FIT201', ' MV201', ' P201',
       ' P202', 'P203', ' P204', 'P205', 'P206', 'DPIT301', 'FIT301',
       'LIT301', 'MV301', 'MV302', ' MV303', 'MV304', 'P301', 'P302',
       'AIT401', 'AIT402', 'FIT401', 'LIT401', 'P401', 'P402', 'P403',
       'P404', 'UV401', 'AIT501', 'AIT502', 'AIT503', 'AIT504', 'FIT501',
       'FIT502', 'FIT503', 'FIT504', 'P501', 'P502', 'PIT501', 'PIT502',
       'PIT503', 'FIT601', 'P601', 'P602', 'P603'], dtype='<U9')

In [4]:
y = np.array(y, dtype=str)
y_binary = []
for i in y:
    if i == "Normal":
        y_binary.append(False)  #false == normal
    else:
        y_binary.append(True)   #true == attack
        
y_binary = np.array(y_binary)
y_binary

array([False, False, False, ...,  True,  True,  True])

In [5]:
from sklearn.preprocessing import StandardScaler
# Separating out the features
x = df.loc[:, feature_names[1:]].values
x = StandardScaler().fit_transform(x)

In [6]:
from sklearn.decomposition import PCA
pca = PCA(.99)
principalComponents = pca.fit_transform(x)
principal_df = pd.DataFrame(data = principalComponents)

In [7]:
pca.n_components_

23

In [8]:
principal_df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,-2.802063,-0.770162,0.273888,0.937760,-0.171237,-0.955544,0.284686,0.062336,0.064335,-0.337124,...,0.668389,-0.200851,0.015554,0.433374,-0.133456,-0.586784,0.072090,-0.017583,-0.024473,0.009572
1,-2.814717,-0.764373,0.275540,0.943799,-0.172039,-0.952380,0.285314,0.062108,0.065153,-0.338619,...,0.663536,-0.201006,0.014729,0.430737,-0.134716,-0.584711,0.069241,-0.020645,-0.023751,0.013316
2,-2.818582,-0.762385,0.284077,0.962864,-0.174877,-0.959530,0.286693,0.064147,0.070278,-0.341400,...,0.659138,-0.193573,0.014042,0.423631,-0.136769,-0.578198,0.076750,-0.028632,-0.022360,0.015090
3,-2.815560,-0.763714,0.291210,0.981715,-0.177122,-0.957640,0.288737,0.061237,0.077970,-0.343533,...,0.658782,-0.194150,0.015410,0.416244,-0.136026,-0.580296,0.075845,-0.037156,-0.021963,0.013860
4,-2.818970,-0.761257,0.295815,0.995167,-0.178759,-0.955392,0.290181,0.059464,0.082542,-0.345314,...,0.656623,-0.194292,0.015812,0.411764,-0.135955,-0.581283,0.074321,-0.047288,-0.021650,0.012603