In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('./data/swat_a.csv')

In [10]:
df.head()

,timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603,Normal/Attack
0,1451296800000000000,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,2,1,250.8652,1.649953,189.5988,0.000128,1,1,1,Normal
1,1451296801000000000,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,...,2,1,250.8652,1.649953,189.6789,0.000128,1,1,1,Normal
2,1451296802000000000,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,...,2,1,250.8812,1.649953,189.6789,0.000128,1,1,1,Normal
3,1451296803000000000,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,...,2,1,250.8812,1.649953,189.6148,0.000128,1,1,1,Normal
4,1451296804000000000,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,...,2,1,250.8812,1.649953,189.5027,0.000128,1,1,1,Normal

In [11]:
a = np.array(df)
a

array([[1451296800000000000, 2.427057, 522.8467, ..., 1, 1, 'Normal'],
       [1451296801000000000, 2.4462740000000003, 522.886, ..., 1, 1,
        'Normal'],
       [1451296802000000000, 2.489191, 522.8467, ..., 1, 1, 'Normal'],
       ...,
       [1454338797000000000, 2.531467, 520.6878, ..., 1, 1, 'Normal'],
       [1454338798000000000, 2.521218, 520.7271, ..., 1, 1, 'Normal'],
       [1454338799000000000, 2.501681, 521.1196, ..., 1, 1, 'Normal']],
      dtype=object)

In [12]:
np.save('./data/swat_a.npy', a)